* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 960px;
  padding: 0 1rem;
  margin: 0 auto;
  overflow: hidden;
}

.btn-main, .btn-light, .btn-dark {
  display: inline-block;
  font-family: "Oswald", sans-serif;
  font-size: 1.4rem;
  text-transform: uppercase;
  padding: 0.6rem 0;
  width: 8.5rem;
  text-align: center;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.btn-main {
  color: #fff;
  border: 1px solid #fff;
}

.btn-main:hover {
  background: #0872b9;
  border: none;
}

.btn-light {
  background: #f1f1f1;
  color: #353535;
}

.btn-light:hover {
  background: #0872b9;
}

.btn-dark {
  background: #353535;
  color: #f1f1f1;
}

.btn-dark:hover {
  background: #0872b9;
}

.bg-main {
  background: #0872b9;
  color: #fff;
}

.bg-dark {
  background: #353535;
  color: #fff;
}

.bg-medium {
  background: #555;
  color: #fff;
}

.bg-light {
  background: #f1f1f1;
  color: #000;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
  text-align: center;
}

.text-center {
  text-align: center;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

.py-4 {
  padding: 4rem 0;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.p-4 {
  padding: 4rem;
}

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 2rem 0;
}

.my-3 {
  margin: 3rem 0;
}

.my-4 {
  margin: 4rem 0;
}

.s-heading {
  font-size: 1.5rem;
}

.m-heading {
  font-size: 2rem;
}

.l-heading {
  font-size: 4rem;
  line-height: 1.2;
}

.bottom-line {
  background: #0872b9;
  width: 3rem;
  height: 2px;
  margin: 0 auto 1rem auto;
}

.section-title {
  font-size: 2rem;
  padding-bottom: 0.5rem;
  font-weight: 100;
  text-align: center;
}

html {
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #fff;
  color: #353535;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #353535;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

@font-face {
  font-family: Myriad;
  src: url("../fonts/MYRIADPRO-REGULAR.OTF");
}

#header .welcome {
  font-size: 1.9rem;
  padding: 1rem 0;
  background: #0872b9;
  color: #fff;
}

#header .welcome .welcome-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#header .welcome .welcome-content a {
  padding: 0 0 0 2.4rem;
  color: #fff;
}

#header .welcome .welcome-content a:hover {
  color: #353535;
}

#header .navbar .navbar-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .navbar .navbar-content .logo {
  width: 80px;
}

#header .navbar .navbar-content .menu a {
  color: #353535;
  font-size: 1.6rem;
  padding: 0 0 0 1.6rem;
  font-family: "Myriad";
}

#header .navbar .navbar-content .menu a:hover {
  color: #0872b9;
}

#slider {
  background: url(../img/slider.jpg) no-repeat center center/cover;
  padding: 8.5rem 0;
  position: relative;
}

#slider .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#slider .wrapper .slider-text {
  width: 50%;
  color: #fff;
  text-align: right;
  position: relative;
}

#slider .wrapper .slider-text .large {
  font-family: "Oswald", sans-serif;
  font-size: 3rem;
  font-weight: lighter;
  text-transform: uppercase;
}

#slider .wrapper .slider-text h1 {
  font-size: 4rem;
}

#slider .wrapper .slider-text .small {
  font-size: 1.3rem;
  margin: 1.5rem 0;
  line-height: 2.4rem;
}

#slider .wrapper .slider-text .btn-main {
  margin: 1.5rem 0 0 2rem;
}

#slider::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  opacity: 0.6;
}
