* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 960px;
  padding: 0 1rem;
  margin: 0 auto;
  overflow: hidden;
}

.btn-main, .btn-light, .btn-dark {
  display: inline-block;
  font-family: "Oswald", sans-serif;
  font-size: 1.4rem;
  text-transform: uppercase;
  padding: 1rem 2rem;
  text-align: center;
  border: none;
  cursor: pointer;
  line-height: 100%;
}

.btn-main {
  color: #fff;
  border: 1px solid #fff;
  -webkit-transition: background, border, 150ms ease-in-out;
  transition: background, border, 150ms ease-in-out;
}

.btn-main:hover {
  background: #0872b9;
  border: 1px solid #0872b9;
}

.btn-light {
  background: #f1f1f1;
  color: #353535;
}

.btn-light:hover {
  background: #0872b9;
}

.btn-dark {
  background: #353535;
  color: #f1f1f1;
}

.btn-dark:hover {
  background: #0872b9;
}

.bg-main {
  background: #0872b9;
  color: #fff;
}

.bg-dark {
  background: #353535;
  color: #fff;
}

.bg-medium {
  background: #555;
  color: #fff;
}

.bg-light {
  background: #f1f1f1;
  color: #000;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
  text-align: center;
}

.text-center {
  text-align: center;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

.py-4 {
  padding: 4rem 0;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.p-4 {
  padding: 4rem;
}

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 2rem 0;
}

.my-3 {
  margin: 3rem 0;
}

.my-4 {
  margin: 4rem 0;
}

.s-heading {
  font-size: 1.5rem;
}

.m-heading {
  font-size: 2rem;
}

.l-heading {
  font-size: 4rem;
  line-height: 1.2;
}

.title-block {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 6rem auto 3rem auto;
}

.section-title {
  font-size: 2.4rem;
  text-align: center;
}

.bottom-line {
  line-height: 0;
  height: 1px;
}

.bottom-line div {
  display: inline-block;
  height: 1px;
  background: #0872b9;
}

.bottom-line div:nth-child(1) {
  width: 4.5rem;
}

.bottom-line div:nth-child(2) {
  width: 0.3rem;
  margin: 0 0 0 0.2rem;
}

.bottom-line div:nth-child(3) {
  width: 0.2rem;
  margin: 0 0 0 0.1rem;
}

.bottom-line div:nth-child(4) {
  width: 0.1rem;
  margin: 0 0 0 0.1rem;
}

html {
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #fff;
  color: #353535;
  line-height: 2.4rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #353535;
}

img {
  width: 100%;
}

p {
  font-size: 1.3rem;
}

h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

h4 {
  font-family: "Oswald", sans-serif;
}

@font-face {
  font-family: Myriad;
  src: url("../fonts/MYRIADPRO-REGULAR.OTF");
}

#header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  background: #fff;
}

#header .welcome {
  font-size: 1.4rem;
  padding: 1rem 0;
  background: #0872b9;
  color: #fff;
}

#header .welcome .welcome-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#header .welcome .welcome-content a {
  padding: 0 0 0 2.4rem;
  color: #fff;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}

#header .welcome .welcome-content a:hover {
  color: #353535;
}

#header .navbar .navbar-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: normal;
}

#header .navbar .navbar-content .logo {
  width: 80px;
}

#header .navbar .navbar-content .menu a {
  color: #353535;
  font-size: 1.4rem;
  padding: 0 0 0 1.6rem;
  font-family: "Myriad";
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}

#header .navbar .navbar-content .menu a:hover {
  color: #0872b9;
}

#slider {
  background: url(../img/slider.jpg) no-repeat center center/cover;
  padding: 8.5rem 0;
  position: relative;
}

#slider .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#slider .wrapper .slider-text {
  width: 50%;
  color: #fff;
  text-align: right;
  position: relative;
}

#slider .wrapper .slider-text .large {
  font-family: "Oswald", sans-serif;
  font-size: 3rem;
  font-weight: lighter;
  text-transform: uppercase;
  line-height: 100%;
}

#slider .wrapper .slider-text h1 {
  font-size: 4rem;
  line-height: 100%;
  margin: 1.5rem 0 0 0;
}

#slider .wrapper .slider-text .small {
  margin: 3rem 0;
}

#slider .wrapper .slider-text .btn-main {
  margin: 0 0 0 2rem;
}

#slider::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  opacity: 0.6;
}

#about .about-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5fr 7fr;
      grid-template-columns: 5fr 7fr;
  grid-gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0 0 0;
}

#about .about-content p {
  margin: 1.5rem 0;
}

#services .services-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

#services .services-content div {
  background: #f1f1f1;
  padding: 2rem;
  position: relative;
  margin: 3.5rem 0 1rem 0;
  -webkit-transition: -webkit-box-shadow 150ms ease-in-out;
  transition: -webkit-box-shadow 150ms ease-in-out;
  transition: box-shadow 150ms ease-in-out;
  transition: box-shadow 150ms ease-in-out, -webkit-box-shadow 150ms ease-in-out;
}

#services .services-content div:hover {
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
}

#services .services-content div:hover .middle {
  border: #5bc5f4 1px solid;
}

#services .services-content div:hover .inner {
  background: #5bc5f4;
}

#services .services-content div h3 {
  font-size: 1.6rem;
  margin: 3rem 0 1.5rem 0;
}

#services .services-content div .circle {
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

#services .services-content div .circle:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#services .services-content div .outer {
  background: #fff;
  top: -4rem;
  width: 8rem;
  height: 8rem;
}

#services .services-content div .middle {
  width: 7.5rem;
  height: 7.5rem;
  background: #fff;
  top: -3.75rem;
  border: #bebebe 1px solid;
  -webkit-transition: border 150ms ease-in-out;
  transition: border 150ms ease-in-out;
}

#services .services-content div .inner {
  width: 7rem;
  height: 7rem;
  background: #f1f1f1;
  top: -3.5rem;
  -webkit-transition: background 150ms ease-in-out;
  transition: background 150ms ease-in-out;
}

#gallery {
  margin: -1rem 0 0 0;
}

#gallery .row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

#gallery .column {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 2rem;
}

#gallery .img-wrap {
  background: #ccc;
  position: relative;
}

#gallery .img-wrap::after {
  content: "";
  background: #000;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 150ms ease-in-out;
  transition: opacity 150ms ease-in-out;
}

#gallery .img-wrap:hover::after {
  opacity: 0.6;
}

#gallery .img-wrap:hover .hover-icon {
  visibility: visible;
}

#gallery img {
  vertical-align: middle;
}

#gallery .hover-icon {
  margin: auto;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 40px;
  width: 40px;
  background: #5bc5f4;
  border-radius: 50%;
  z-index: 1;
  visibility: hidden;
}

#team .employees {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

#team .employees .employee h3 {
  font-size: 1.6rem;
  margin: 0.5rem 0 0 0;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}

#team .employees .employee p {
  font-size: 1.4rem;
  font-family: "Oswald", sans-serif;
  color: #555;
}

#team .employees .employee .img-wrap {
  position: relative;
  line-height: 0;
  -webkit-transition: -webkit-box-shadow 150ms ease-in-out;
  transition: -webkit-box-shadow 150ms ease-in-out;
  transition: box-shadow 150ms ease-in-out;
  transition: box-shadow 150ms ease-in-out, -webkit-box-shadow 150ms ease-in-out;
}

#team .employees .employee .img-wrap .socials {
  visibility: hidden;
  background: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 36.36%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 3rem 0;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

#team .employees .employee .img-wrap .socials a {
  display: inline-block;
  margin: auto;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  border: #fff 1px solid;
  padding: 1rem;
  -webkit-transition: background, border 150ms ease-in-out;
  transition: background, border 150ms ease-in-out;
}

#team .employees .employee .img-wrap .socials a:hover {
  background: #5bc5f4;
  border: #5bc5f4 1px solid;
}

#team .employees .employee .img-wrap .socials .fab {
  color: #fff;
}

#team .employees .employee:hover .img-wrap {
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
}

#team .employees .employee:hover .socials {
  visibility: visible;
  background: rgba(0, 0, 0, 0.6);
}

#team .employees .employee:hover h3 {
  color: #5bc5f4;
}

#testimonial .testimonials {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  padding: 0 0 6rem 0;
}

#testimonial .testimonials .testimonial img {
  height: 8rem;
  width: 8rem;
}

#testimonial .testimonials .testimonial .feedback {
  background: #f1f1f1;
  padding: 2rem;
  margin: 3.5rem 0 0 0;
  position: relative;
}

#testimonial .testimonials .testimonial .feedback:after {
  content: "";
  position: absolute;
  top: -3rem;
  left: 0;
  right: 0;
  width: 0;
  border-right: 2rem transparent solid;
  border-left: 2rem transparent solid;
  border-top: 1.5rem transparent solid;
  border-bottom: 1.5rem #f1f1f1 solid;
  margin: auto;
}

#testimonial .testimonials .testimonial .feedback h3 {
  font-size: 1.6rem;
}

#testimonial .testimonials .testimonial .feedback .fas {
  color: #5bc5f4;
}

#testimonial .testimonials .testimonial .feedback p {
  font-family: "Oswald", sans-serif;
}

#testimonial .testimonials .testimonial .feedback .designation {
  margin: 0 0 0.5rem 0;
}

#footer .main-footer .footer-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 3fr 2fr 4fr;
      grid-template-columns: 3fr 3fr 2fr 4fr;
  grid-gap: 2rem;
}

#footer .main-footer .footer-content .grid-title {
  font-size: 1.6rem;
  font-weight: 400;
  margin: 1rem 0 3rem 0;
}

#footer .main-footer .footer-content .about .logo {
  width: 8rem;
}

#footer .main-footer .footer-content .about p {
  margin: 3rem 0 0 0;
}

#footer .main-footer .footer-content .contact .contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0 0 0;
}

#footer .main-footer .footer-content .contact .contact-info .fas {
  background: #5bc5f4;
  height: 3.5rem;
  width: 3.5rem;
  padding: 1rem;
  margin: 0 1rem 0 0;
  border-radius: 50%;
  font-size: 1.5rem;
}

#footer .main-footer .footer-content .links .links-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  margin: -1rem 0 0 0;
}

#footer .main-footer .footer-content .links .links-grid a {
  display: inline-block;
  color: #fff;
  font-size: 1.3rem;
  line-height: 3.6rem;
  margin: 0 0 0.2rem 0;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}

#footer .main-footer .footer-content .links .links-grid a:hover {
  color: #5bc5f4;
}

#footer .main-footer .footer-content .photos .photo-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

#footer .copyright {
  background: #555;
  padding: 1.5rem 0;
  color: #fff;
}

#footer .copyright span {
  color: #5bc5f4;
  text-transform: uppercase;
}

@media (max-width: 800px) {
  #team .employees .employee .img-wrap .socials a {
    height: 3rem;
    width: 3rem;
    padding: 0.75rem;
  }
  #team .employees .employee .img-wrap .socials .fab {
    font-size: 1.5rem;
  }
  #footer .main-footer .footer-content {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  #footer .main-footer .footer-content .grid-title {
    margin: 1rem 0 2rem 0;
  }
  #footer .main-footer .footer-content .about p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin: 1rem 0 0 0;
  }
  #footer .main-footer .footer-content .contact .contact-info {
    padding: 0.5rem 0 0 0;
  }
  #footer .main-footer .footer-content .contact .contact-info .fas {
    height: 3rem;
    width: 3rem;
    padding: 0.75rem;
  }
  #footer .main-footer .footer-content .contact .contact-info p {
    font-size: 1.2rem;
    line-height: 2rem;
  }
  #footer .main-footer .footer-content .links .links-grid {
    margin: 1rem 0 0 0;
    grid-gap: 1rem;
  }
  #footer .main-footer .footer-content .links .links-grid a {
    line-height: 2rem;
  }
  #footer .main-footer .footer-content .photos .photo-grid {
    margin: 1rem 0 0 0;
  }
}

@media (max-width: 600px) {
  #about .about-content,
  #services .services-content,
  #testimonial .testimonials {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  #header {
    position: static;
  }
  #header .navbar .navbar-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #header .navbar .navbar-content .menu {
    padding: 2rem 0 0 0;
  }
  #header .navbar .navbar-content .menu a {
    padding: 0 0.8rem;
  }
  #slider .wrapper .slider-text {
    width: 100%;
  }
  #services .services-content div {
    width: 80%;
    margin: 3.5rem auto 1rem auto;
  }
  #gallery .row {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  #team .employees .employee h3 {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  #team .employees .employee p {
    font-size: 1rem;
    line-height: 1.2rem;
  }
  #team .employees .employee .img-wrap .socials {
    padding: 1rem 0;
  }
  #team .employees .employee .img-wrap .socials a {
    height: 2rem;
    width: 2rem;
    padding: 0.5rem;
  }
  #team .employees .employee .img-wrap .socials .fab {
    font-size: 1rem;
  }
  #testimonial .testimonials .testimonial {
    width: 80%;
    margin: auto;
  }
  #footer .main-footer .footer-content {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  #footer .main-footer .footer-content .about p {
    font-size: 1.1rem;
    line-height: 1.3rem;
  }
  #footer .main-footer .footer-content .contact .contact-info p {
    font-size: 1.1rem;
  }
  #footer .main-footer .footer-content .links .links-grid {
    grid-gap: 1rem;
  }
  #footer .main-footer .footer-content .links .links-grid a {
    line-height: 2.4rem;
  }
  #footer .main-footer .footer-content .photos .photo-grid {
    margin: 1rem 0 0 0;
  }
}

@media (max-width: 400px) {
  #header .navbar .navbar-content .menu a {
    padding: 0 0.5rem;
  }
}

@media (max-height: 500px) {
  #header .welcome {
    display: none;
  }
  #header .navbar .navbar-content {
    padding: 1.5rem 0;
  }
  #slider {
    padding: 3rem 0;
  }
  #slider .wrapper .slider-text .large {
    font-size: 2.5rem;
  }
  #slider .wrapper .slider-text h1 {
    font-size: 3.5rem;
  }
  #slider .wrapper .slider-text .small {
    margin: 1.5rem 0;
  }
}

@media (max-height: 500px) and (min-width: 800px) {
  #footer .main-footer .footer-content .about p {
    font-size: 1.2rem;
    margin: 2rem 0 0 0;
    line-height: 2rem;
  }
  #footer .main-footer .footer-content .links .links-grid a {
    line-height: 2.4rem;
  }
}
