@import "partials/variables";
@import "partials/reset";
@import "partials/functions";
@import "partials/mixins";
@import "partials/utilities";
@import "partials/generals";

// Import Font Face
@font-face {
  font-family: Myriad;
  src: url("../fonts/MYRIADPRO-REGULAR.OTF");
}

// Header Section
// ...........................................
#header {
  .welcome {
    font-size: 1.4rem;
    padding: 1rem 0;
    background: $main-color;
    color: #fff;
    .welcome-content {
      display: flex;
      justify-content: space-between;
      a {
        padding: 0 0 0 2.4rem;
        color: #fff;
      }
      a:hover {
        color: $dark-color;
      }
    }
  }
  .navbar {
    .navbar-content {
      display: flex;
      justify-content: space-between;
      padding: 2rem 0;
      align-items: center;

      .logo {
        width: 80px;
      }
      .menu {
        a {
          color: $dark-color;
          font-size: 1.4rem;
          padding: 0 0 0 1.6rem;
          font-family: "Myriad";
        }
        a:hover {
          color: $main-color;
        }
      }
    }
  }
}

// Slider Section
#slider {
  background: url(../img/slider.jpg) no-repeat center center/cover;
  padding: 8.5rem 0;
  position: relative;
  .wrapper {
    display: flex;
    justify-content: right;
    align-items: center;
    .slider-text {
      width: 50%;
      color: #fff;
      text-align: right;
      position: relative;
      .large {
        font-family: "Oswald", sans-serif;
        font-size: 3rem;
        font-weight: lighter;
        text-transform: uppercase;
        margin: 0 0 -0.5rem 0;
      }
      h1 {
        font-size: 4rem;
      }
      .small {
        font-size: 1.3rem;
        margin: 1.5rem 0;
        line-height: 2.4rem;
      }
      .btn-main {
        margin: 1.5rem 0 0 2rem;
      }
    }
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    opacity: 0.6;
  }
}

// About Section
#about {
  .about-content {
    display: grid;
    grid-template-columns: 5fr 7fr;
    grid-gap: 2rem;
    align-items: center;
    p {
      font-size: 1.3rem;
      line-height: 2.4rem;
      margin: 1.5rem 0;
    }
  }
}

// Services Section
#services {
  .services-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    div {
      background: $light-color;
      padding: 2rem;
      position: relative;
      margin: 2rem 0 0 0;
      &:hover {
        box-shadow: 2px 2px 5px 0 $box-shadow-color,
          -2px -2px 5px 0 $box-shadow-color;
        .middle {
          border: $main-color-light 1px solid;
        }
        .inner {
          background: $main-color-light;
        }
      }
      h3 {
        font-size: 1.6rem;
        line-height: 2.4rem;
        margin: 3rem 0 1.5rem 0;
      }
      p {
        font-size: 1.3rem;
        line-height: 2.4rem;
      }
      .circle {
        display: inline-block;
        border-radius: 50%;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        &:hover {
          box-shadow: none;
        }
      }
      .outer {
        background: #fff;

        top: -4rem;

        width: 8rem;
        height: 8rem;
      }
      .middle {
        width: 7.5rem;
        height: 7.5rem;

        background: #fff;

        top: -3.75rem;

        border: darken($color: $light-color, $amount: 20%) 1px solid;
      }
      .inner {
        width: 7rem;
        height: 7rem;

        background: $light-color;

        top: -3.5rem;
      }
    }
  }
}

// Mobile devices
@import "partials/mobile";
