@import "partials/variables";
@import "partials/reset";
@import "partials/functions";
@import "partials/mixins";
@import "partials/utilities";
@import "partials/generals";

// Import Font Face
@font-face {
  font-family: Myriad;
  src: url("../fonts/MYRIADPRO-REGULAR.OTF");
}

// Header Section
// ...........................................
#header {
  .welcome {
    font-size: 1.9rem;
    padding: 1rem 0;
    background: $main-color;
    color: #fff;
    .welcome-content {
      display: flex;
      justify-content: space-between;
      a {
        padding: 0 0 0 2.4rem;
        color: #fff;
      }
      a:hover {
        color: $dark-color;
      }
    }
  }
  .navbar {
    .navbar-content {
      display: flex;
      justify-content: space-between;
      padding: 2rem 0;
      align-items: center;

      .logo {
        width: 80px;
      }
      .menu {
        a {
          color: $dark-color;
          font-size: 1.6rem;
          padding: 0 0 0 1.6rem;
          font-family: "Myriad";
        }
        a:hover {
          color: $main-color;
        }
      }
    }
  }
}
// Mobile devices
@import "partials/mobile";
