html {
  font-size: 10px;
}
body {
  font-family: $main-font;
  background: #fff;
  color: $dark-color;
  line-height: 2.4rem;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: $dark-color;
}
img {
  width: 100%;
}
p {
  font-size: 1.3rem;
}
h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}
h4 {
  font-family: "Oswald", sans-serif;
}
