// Tablet & Smaller Devices
// ............................................
@media (max-width: 800px) {
  #team {
    .employees {
      .employee {
        .img-wrap {
          .socials {
            a {
              height: 3rem;
              width: 3rem;
              padding: 0.75rem;
            }
            .fab {
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }
  #footer {
    .main-footer {
      .footer-content {
        grid-template-columns: repeat(4, 1fr);
        .grid-title {
          margin: 1rem 0 2rem 0;
        }
        .about {
          p {
            font-size: 1.2rem;
            line-height: 1.5rem;
            margin: 1rem 0 0 0;
          }
        }
        .contact {
          .contact-info {
            padding: 0.5rem 0 0 0;
            .fas {
              height: 3rem;
              width: 3rem;
              padding: 0.75rem;
              //   font-size: 1.2rem;
            }
            p {
              font-size: 1.2rem;
              line-height: 2rem;
            }
          }
        }
        .links {
          .links-grid {
            margin: 1rem 0 0 0;
            grid-gap: 1rem;
            a {
              line-height: 2rem;
            }
          }
        }
        .photos {
          .photo-grid {
            margin: 1rem 0 0 0;
          }
        }
      }
    }
  }
}

// Smartphones
// ............................................
@media (max-width: 600px) {
  // Stack Grids
  #about .about-content,
  #services .services-content,
  #testimonial .testimonials {
    grid-template-columns: 1fr;
  }
  #header {
    position: static;
    .welcome {
      .welcome-content {
        a {
          padding: 0 0 0 1.5rem;
        }
      }
    }
    .navbar {
      .navbar-content {
        flex-direction: column;
        .menu {
          padding: 2rem 0 0 0;
          display: flex;
          justify-content: space-around;
          a {
            padding: 0 0.5rem;
          }
        }
      }
    }
  }
  #slider {
    .wrapper {
      .slider-text {
        width: 100%;
      }
    }
  }
  #services {
    .services-content {
      div {
        width: 80%;
        margin: 3.5rem auto 1rem auto;
      }
    }
  }
  #gallery {
    .row {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  #team {
    .employees {
      .employee {
        h3 {
          font-size: 1.2rem;
          line-height: 1.5rem;
        }
        p {
          font-size: 1rem;
          line-height: 1.2rem;
        }
        .img-wrap {
          .socials {
            padding: 1rem 0;
            a {
              height: 2rem;
              width: 2rem;
              padding: 0.5rem;
            }
            .fab {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
  #testimonial {
    .testimonials {
      .testimonial {
        width: 80%;
        margin: auto;
      }
    }
  }
  #footer {
    .main-footer {
      .footer-content {
        grid-template-columns: repeat(2, 1fr);
        .about {
          //   margin: 1rem 0 0 0;
          p {
            font-size: 1.1rem;
            line-height: 1.3rem;
          }
        }
        .contact {
          .contact-info {
            p {
              font-size: 1.1rem;
            }
          }
        }
        .links {
          .links-grid {
            grid-gap: 1rem;
            a {
              line-height: 2.4rem;
            }
          }
        }
        .photos {
          .photo-grid {
            margin: 1rem 0 0 0;
          }
        }
      }
    }
  }
}

// Landscape
// ............................................
@media (max-height: 500px) {
  #header {
    .welcome {
      display: none;
    }
    .navbar {
      .navbar-content {
        padding: 1.5rem 0;
      }
    }
  }
  #slider {
    padding: 3rem 0;
    .wrapper {
      .slider-text {
        .large {
          font-size: 2.5rem;
        }
        h1 {
          font-size: 3.5rem;
        }
        .small {
          margin: 1.5rem 0;
        }
      }
    }
  }
}
@media (max-height: 500px) and (min-width: 800px) {
  #footer {
    .main-footer {
      .footer-content {
        .about {
          p {
            font-size: 1.2rem;
            margin: 2rem 0 0 0;
            line-height: 2rem;
          }
        }
        .links {
          .links-grid {
            a {
              line-height: 2.4rem;
            }
          }
        }
      }
    }
  }
}
