// Container
.container {
  max-width: $website-width;
  padding: $container-padding;
  margin: 0 auto;
  overflow: hidden;
}

// Buttons
%btn-shared {
  display: inline-block;
  font-family: "Oswald", sans-serif;
  font-size: 1.4rem;
  text-transform: uppercase;
  padding: 1rem 2rem;
  text-align: center;
  border: none;
  cursor: pointer;
  line-height: 100%;
}

.btn {
  &-main {
    @extend %btn-shared;
    color: #fff;
    border: 1px solid #fff;
    transition: background, border, 150ms ease-in-out;

    &:hover {
      background: $main-color;
      border: 1px solid $main-color;
    }
  }

  &-light {
    @extend %btn-shared;
    background: $light-color;
    color: $dark-color;

    &:hover {
      background: $main-color;
    }
  }

  &-dark {
    @extend %btn-shared;
    background: $dark-color;
    color: $light-color;

    &:hover {
      background: $main-color;
    }
  }
}

// Background Color
.bg {
  &-main {
    background: $main-color;
    color: set-text-color($main-color);
  }

  &-dark {
    background: $dark-color;
    color: set-text-color($dark-color);
  }

  &-medium {
    background: $medium-color;
    color: set-text-color($medium-color);
  }

  &-light {
    background: $light-color;
    color: set-text-color($light-color);
  }
}

// Lead Description
.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
  text-align: center;
}

// Text center
.text-center {
  text-align: center;
}

// Paddings
.py {
  &-1 {
    padding: 1rem 0;
  }
  &-2 {
    padding: 2rem 0;
  }
  &-3 {
    padding: 3rem 0;
  }
  &-4 {
    padding: 4rem 0;
  }
}

.p {
  &-1 {
    padding: 1rem;
  }
  &-2 {
    padding: 2rem;
  }
  &-3 {
    padding: 3rem;
  }
  &-4 {
    padding: 4rem;
  }
}

// Margins
.my {
  &-1 {
    margin: 1rem 0;
  }
  &-2 {
    margin: 2rem 0;
  }
  &-3 {
    margin: 3rem 0;
  }
  &-4 {
    margin: 4rem 0;
  }
}

// Headings
.s-heading {
  font-size: 1.5rem;
}
.m-heading {
  font-size: 2rem;
}
.l-heading {
  font-size: 4rem;
  line-height: 1.2;
}

// Title Block
.title-block {
  width: fit-content;
  margin: 6rem auto 3rem auto;
}
.section-title {
  font-size: 2.4rem;
  text-align: center;
}
.bottom-line {
  line-height: 0;
  height: 1px;
  div {
    display: inline-block;
    height: 1px;
    background: $main-color;
  }
  div:nth-child(1) {
    width: 4.5rem;
  }
  div:nth-child(2) {
    width: 0.3rem;
    margin: 0 0 0 0.2rem;
  }
  div:nth-child(3) {
    width: 0.2rem;
    margin: 0 0 0 0.1rem;
  }
  div:nth-child(4) {
    width: 0.1rem;
    margin: 0 0 0 0.1rem;
  }
}
