// Colors
$main-color: #ffbc00;
$dark-color: #333;
$medium-color: #ccc;
$light-color: #f4f4f4;

// Container
$website-width: 1280px;
$container-padding: 0 1.5rem;

// Fonts
$main-font: "Dosis", sans-serif;
