// Colors
$main-color: #0872b9;
$main-color-light: #5bc5f4;
$dark-color: #353535;
$medium-color: #555;
$light-color: #f1f1f1;

// Container
$website-width: 1280px;
$container-padding: 0 1.5rem;

// Fonts
$main-font: "Dosis", sans-serif;
