// Colors
$main-color: #0872b9;
$main-color-light: #5bc5f4;
$dark-color: #353535;
$medium-color: #555;
$light-color: #f1f1f1;
$box-shadow-color: rgba(0, 0, 0, 0.2);
$img-bg-color: #ccc;

// Container
$website-width: 960px;
$container-padding: 0 1rem;

// Fonts
$main-font: "Open Sans", sans-serif;
